@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  width: 100vw; /* Add this line to make body take up the whole viewport width */
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

#root{
  padding: 0;
  margin: 0;
  width: 100vw;
}

.App {
  width: 100vw;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav-image {
  max-width: 50px; 
  height: auto;
}

/* From Uiverse.io by arieshiphop */ 
.navButton {
  padding: 0.5em 2em;
  border: transparent;
  background: rgb(58, 150, 241);
  color: white;
  border-radius: 4px;
  margin: 5px;
 }
 
 .navButton:hover {
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(30,144,255,1) 0%, rgba(0,212,255,1) 100%);
 }
 
 .navButton:active {
  transform: translate(0em, 0.2em);
 }

 .footer {
  bottom: 0;
  width: 100%;
}

.vertical-line {
  border-left: 4px solid green; /* Customize the border style as needed */
  height: 100%; /* Adjust the height of the line */
  margin-right: 10px; /* Adjust the distance between the line and the content */
}
.vertical-line2 {
  border-left: 4px solid green; /* Customize the border style as needed */
}